@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --font: 'Inter', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter';
  font-size: 14px;
  font-weight: 300;
  min-width: 0px;  
}

.margin-bottom {
  margin-bottom: 1em;
}

.form-a{
  position: absolute;
  top: 10px;
  display: flex;
  gap: 1em;
  align-items: center;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 100vh;
  flex-direction: column;
}

.container {
  width: 60%;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 4em 2em 2em 2em;
  border-radius: .5em;
  border: 2px solid black;
}


.title {
  font-weight: 600;
  font-size:2em;
  margin-top: -45px;
  letter-spacing: -1px;
  display: block;
  z-index: 10;
  position: relative;
  top: -30px;
  width: fit-content;
  background-color: white;
}


.radio-modelo {
  padding: 1em;

}

.label-section {
  margin-top: -25px;
  margin-bottom: 5px;
  width: fit-content;
  background-color: white;
  display: block;
  font-weight: 600;
  font-size: 16px;
  
}

.radio-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

input {
  min-width: 0;
}



input[type='radio'] {
  accent-color: rgb(82, 109, 228);
}

.radio-option {
  margin-left: auto;
  margin-right: auto;
}

.radio-option label {
  color: rgb(70, 69, 69);
  font-weight: 500;
}

.linha-form {
  display: flex;
  gap: 1em;
  padding: 1em;
  flex-wrap: wrap;
}

.select-section {
  display: flex;
  flex-direction: column;
  flex: auto;
  margin
}

label {
  margin-bottom: .2em;
  font-weight: 600;
}

select {
  color: rgb(70, 69, 69);
  min-width: 0;
}

.column-container {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.bundler {
  width: 45%;
  display: flex;
  justify-content: center;
  gap: 1em;
}

.secondary-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: auto;
}

.tipo-ocorrencia {
  font-weight: ;
}

.terciary-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: auto;
}

.bundler-2 {
  display: flex;
  flex-wrap: wrap;
  width: 45%;
  gap: 1em;
}

.flex-item {
  display: flex;
  flex-direction: column;
  flex: auto;
}

.flex-item input {
  color: rgb(70, 69, 69);
}

input::placeholder {
  color: rgb(70, 69, 69);
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 1em;
}

button {
  border-radius: .5em;
  border: 2px solid black;
  padding: .5em 1em;
  background-color: white;
  font-weight: 600;
}

button:hover {
  background-color: rgb(82, 109, 228);
  color: white;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

.admin-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
  gap: 2em;
}

.admin-flex {
  flex: auto;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 978px) {
  .container {
    width: 90%;
    height: 90vh;
    justify-content: space-around;
  }

  .form-a {
    bottom: -1000px;
  }

  .bundler {
    flex-wrap: wrap;
  }

  .title {
    width: fit-content;
    top: -55px;
  }
}

